::ng-deep .p-tabmenu-nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .p-tabmenuitem {
    width: 100%;
  }
}

:host {
  display: flex;
  flex-direction: row;

  gap: 1rem;
}

.clients {
  min-width: 200px;

  .client {
    width: 100%;
    text-align: right;
  }
}

